In [211]:
import requests 
import sqlite3
import yaml
import imp
import json
import pandas as pd

cap = imp.load_source('cap', '../scripts/capture.py')

In [212]:
cap.main()

In [118]:
res = json.loads(cap.request_url(a['joinville']))

In [117]:
json.loads(res).keys()

dict_keys(['alerts', 'endTimeMillis', 'startTimeMillis', 'startTime', 'endTime', 'jams'])

In [119]:
res['endTimeMillis']

1530815760000

In [175]:
df = pandas.io.json.json_normalize(res['alerts'])

In [151]:
c = cap.add_fields(df, res)

In [214]:
db = cap.load_db()

In [219]:
pd.read_sql_query('select city, COUNT(*) from alerts group by city', db)

                 city  COUNT(*)
0                None        10
1  Ciudad de la Costa         1
2             Diadema        13
3           Guarulhos        15
4           Joinville        26
5          Montevideo       138
6              Osasco         5
7           São Paulo      1535

In [87]:
cur.execute("select * from alerts limit 5;")
results = cur.fetchall()

In [220]:
import os

AttributeError: module 'os' has no attribute 'getpwd'

In [222]:
import subprocess
subprocess.call(["wc", "-c", "data/mydb"])

1